<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>beta.intern.orakel.no</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>490D6763-B8F0-418B-90A7-5C0D08C1A789</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9C9F6CA-9144-4CFF-BB0B-30E8650BE1DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A670F3A7-E2AC-4B03-96D8-86DFCF058A06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB52F325-6445-4F68-A77A-B9E0655207CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB52F325-6445-4F68-A77A-B9E0655207CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4324494F-C4FA-4B25-A61C-938B68084C4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Orakeltjenesten</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Orakel snippet</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C9C9F6CA-9144-4CFF-BB0B-30E8650BE1DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>osn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Laster...</string>
				<key>script</key>
				<string>python orakelsnippet.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Søk etter snippsts og kopier dem til clipboard</string>
				<key>title</key>
				<string>Snippets for orakel</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>490D6763-B8F0-418B-90A7-5C0D08C1A789</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python orakelsnippet.py --setkey "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FB52F325-6445-4F68-A77A-B9E0655207CD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Din orakel API nøkkel ble lagret i nøkkelringen</string>
				<key>title</key>
				<string>API nøkkel lagret</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4324494F-C4FA-4B25-A61C-938B68084C4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>orakelapi</string>
				<key>subtext</key>
				<string>Skriv in din API nøkkel fra internsidene og trykk enter</string>
				<key>text</key>
				<string>Lagre din Orakel API nøkkel</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A670F3A7-E2AC-4B03-96D8-86DFCF058A06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4324494F-C4FA-4B25-A61C-938B68084C4C</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>490D6763-B8F0-418B-90A7-5C0D08C1A789</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>A670F3A7-E2AC-4B03-96D8-86DFCF058A06</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>C9C9F6CA-9144-4CFF-BB0B-30E8650BE1DC</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>FB52F325-6445-4F68-A77A-B9E0655207CD</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
